<style>
    *{
        color:black;
    }
</style>
<section>
  <div class="row">
    <form action="/announcement" method="post" class="m-5">
        <label for="subject">Subject</label><br>
        <input type="text" name="subject" value=""/><br>

        <label for=description>Description</label><br>
        <textarea rows="4" cols="50" name="description"></textarea><br>

        <button type="submit">Submit</button>
    </form>
  </div>  
</section>